.item{  
    width: 320px;
}
.item p{
    margin: 6px 0px;
}
.item-prices{
    display: flex;
    gap: 20px;
}
.item-price-new{
    color: #374151;
    font-size: 18px;
    font-weight: 600;
}
.item-price-old{
    color: #8c8c8c;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}
.item:hover{
    transform: scale(1.05);
    transition: 0.6s;
}

.item-link{
  text-decoration: none;
  color: black;
}
/* //Skeleton css */

/* Skeleton loader styles */
.item-skeleton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* Skeleton loader for image */
  .item-skeleton img {
    background-color: #e0e0e0; /* Light gray color for the skeleton image */
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  /* Skeleton loader for text (name) */
  .item-skeleton h3 {
    background-color: #e0e0e0; /* Light gray color for the skeleton text */
    width: 150px; /* Match the size of the real content */
    height: 30px;
    margin-bottom: 10px;
  }
  
  /* Skeleton loader for price */
  .item-skeleton .price {
    background-color: #e0e0e0; /* Light gray color for the skeleton price */
    width: 100px;
    height: 20px;
  }
  @media (max-width: 600px) {
  .item {
    width: 48%; /* Two items per row with a small gap */
    margin-bottom: 20px;
  }

  .item-content img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .item p {
    display: none; /* Hide the item name */
  }

  .item-prices {
    justify-content: space-between;
    padding: 0 5px;
  }

  .item-price-new,
  .item-price-old {
    font-size: 16px;
  }

 .item-skeleton {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .item-skeleton > span:nth-child(1) {
    width: 30% !important;
    height: auto !important;
    aspect-ratio: 3 / 2; /* Matches responsive image shape */
    border-radius: 10px;
  }

  .item-skeleton > span:nth-child(2) {
    display: none; /* Hides title skeleton, since item name is hidden */
  }

  .item-skeleton > span:nth-child(3) {
    width: 30% !important;
    height: 10px !important; /* Matches item price height */
  }
   .item {
    width: 100%; /* full width inside grid column */
  }

  .item p {
    display: none;
  }
}
