.hero{
    height: 100vh;
    background: linear-gradient(180deg, #bd90ec, #e1ffea52 60%);
    display: flex;
}

.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height:1.1;
}
.hero-left h2{
    color: #090909;
    font-size: 26px;
    font-weight: 600;
}
.hero-left p{
    color: #171717;
    font-size: 80px;
    font-weight: 700;
}
.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}
.hero-hand-icon img{
    width: 105px;
}
.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background: #ff4141;
    color: white;
    font-size: 22px;
    font-weight: 500;
}
.hero-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.latest-button{
    display: flex;
    flex-direction: row;
}
@media (max-width: 600px) {
  .hero {
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }

  .hero-left h2 {
    font-size: 28px;
  }
.hero-left{
    padding: 30px;
    margin-top: 50px;
    align-items: center;
}
  .hero-hand-icon p {
    font-size: 25px;
  }

  .hero-left p {
    font-size: 25px;
  }

  .hero-latest-btn a {
    padding: 10px 16px;
    font-size: 14px;
  }

  .hero-right img {
  width: 100%;
  height: 300px;
  }
}
